body {
    font-family: "orbitron", sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url(images/TiendaRopaFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
    line-height: 1.3;
    color: #222222;

}

p {
    font-style: normal;
    margin-bottom: 1.6em;
    font-size: 1rem;

}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;

}

.header {
    background: #1f2021;
    color: white;
    padding: 1rem 1.5rem;
    /* Ajuste del relleno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header a {
    color: white;
    text-decoration: none;
    transition: color 0.1s ease;
    /* Transición suave para el color */
}

.header a:hover {
    color: #f5a623;
    /* Color de resaltado suave en el hover */
}

.imagenS {
    width: 90px;
    border-radius: 100%;
    border: 3px solid#82c115;
    transition: border-color 0.3s;
}

.imagenS:hover {
    border-color: #ff0404;
}


/* Contenedor para el logo y la navegación */
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para la navegación */
.navegation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navegation ul li {
    margin-right: 1rem;
    /* Espaciado entre ICONOS DE LISTA */
}

.navegation ul li:last-child {
    margin-right: 0;
    /* Eliminar margen para el último elemento */
}

.navegation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.25rem;
    /* Bordes redondeados para los enlaces */
    transition: background 0.3s ease, color 0.3s ease;
    /* Transiciones suaves */
}

.navegation ul li a:hover {
    background: #555;
    /* Color de fondo al pasar el ratón */
    color: #82c115;
    /* Color del texto al pasar el ratón */
}

/* Estilos adicionales opcionales para mejorar el diseño */
.container img {
    max-width: 100%;
    height: auto;
}

button {
    background: #333;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

button:hover {
    background: #555;
}